<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <!--1.读取属性文件-->
    <context:property-placeholder location="classpath*:properties/*.properties"/>

    <mvc:annotation-driven>
        <mvc:message-converters register-defaults="true">
            <bean class="com.alibaba.fastjson.support.spring.FastJsonHttpMessageConverter">
                <property name="supportedMediaTypes" value="application/json"/>
                <property name="features">
                    <array>
                        <value>WriteMapNullValue</value>
                        <value>WriteDateUseDateFormat</value>
                    </array>
                </property>
            </bean>
        </mvc:message-converters>
    </mvc:annotation-driven>

    <!--2.配置springmvc的文件上传-->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
            <!--2.1)设置文件上传的默认字符集编码-->
           <property name="defaultEncoding" value="UTF-8"/>
            <!--2.2)设置上传的文件大小(以字节为单位)-->
            <property name="maxUploadSize" value="5242880"/>
    </bean>

    <!--3.配置包扫描-->
    <context:component-scan base-package="com.zeyigou.shop.controller"/>
    <!--4.配置dubbo相关的消费者信息-->
    <!--4.1)配置dubbo应用的名字-->
    <dubbo:application name="zeyigou_shop_web"/>
    <!--4.2)配置注册中心的地址-->
    <dubbo:registry address="zookeeper://192.168.25.134:2181"/>
    <!--4.3)配置@Reference注解所在包的位置-->
    <dubbo:annotation package="com.zeyigou.shop.controller"/>
</beans>