<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xmlns:mvc="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

    <!--0.定义事务管理器-->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>
    <!--0.1）定义注解式事务-->
    <mvc:annotation-driven transaction-manager="transactionManager"/>



    <!--1.下面配置dubbo的相关-->
    <!--1.1)配置应用程序服务名-->
    <dubbo:application name="zeyigou_sellergoods_service"/>

    <!--1.2)配置为当前的服务分配的端口号，默认为20880，每个服务占用一个-->
    <dubbo:protocol name="dubbo" port="20881"/>

    <!--1.3)配置dubbo的注册中心的地址，其中的端口号代表我们客户端访问注册中心的端口号-->
    <dubbo:registry address="zookeeper://192.168.25.134:2181"/>

    <!--1.4）配置要扫描的service注解所在包的位置-->
    <dubbo:annotation package="com.zeyigou.sellergoods.service.impl"/>
</beans>